<div class="container">
    <div class="clearfix">
        <div class="float-left">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" ng-repeat="topic in topics"
                        ng-click="selectTopic(topic)">{{topic}}
                </button>
            </div>
        </div>
        <div class="float-right">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-secondary" ng-click="sendEmail()" type="button" id="button-addon1">Send me an
                        Email
                    </button>
                </div>
                <form name="userEmailForm">
                    <input type="email" class="form-control" ng-model="userEmail" name="emailInput"
                           placeholder="myEmail@example.com"></form>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="float-right">
            <small ng-show="userEmailForm.emailInput.$error.email" class="form-text text-white">Not a valid e-mail
                address
            </small>
        </div>
    </div>
    <div class="row text-white">
        <div class="col">
            <div id="test"></div>
            <h1>{{topic}} Tweets Loaded</h1>
            <div id="term">
            </div>
            <br>
            <h1>{{topic}} Hashtags counted</h1>
            <div id="counted"></div>
            <br>
            <h1>{{topic}} Top Users counted</h1>
            <div id="topuser"></div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        </div>
    </div>
</div>