<div class="container">
    <div class="clearfix">
        <div class="float-left">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" ng-repeat="topic in topics"
                        ng-click="selectTopic(topic)">{{topic}}
                </button>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-secondary" type="button" ng-click="queryTopic()">Search</button>
                </div>
                <input type="text" class="form-control" ng-model="topicQuery" placeholder="...">
            </div>
        </div>
        <div class="float-right">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-secondary" ng-click="sendEmail()" type="button" id="button-addon1">Send me an
                        Email
                    </button>
                </div>
                <form name="userEmailForm">
                    <input type="email" class="form-control" ng-model="userEmail" name="emailInput"
                           placeholder="myEmail@example.com"></form>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="float-right">
            <small ng-show="userEmailForm.emailInput.$error.email" class="form-text text-white">Not a valid e-mail
                address
            </small>
        </div>
    </div>
    <div class="row text-white">
        <div class="col">
            <div id="test"></div>
            <div ng-show="showTerm">
                <h1>{{topic}} Tweets Loaded</h1>
                <div id="term">
                </div>
                <br>
            </div>
            <div ng-show="showCounted">
                <h1>{{topic}} Hashtags counted</h1>
                <div id="counted"></div>
                <br>
            </div>
            <div ng-show="showTopUser">
                <h1>{{topic}} Top Users counted</h1>
                <div id="topuser"></div>
                <br>
            </div>
            <div ng-show="showSentiment">
                <h1>{{topic}} Sentiment</h1>
                <div id="sentiment">
                </div>
            </div>
        </div>
    </div>
</div>